<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Better website</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  	<% include partials/nav.ejs %>
    <h1>Contact us</h1>
  </body>
</html>
